@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to MegaDesk</h1>
        <h2><a href="/Quotes/Index">Get your desk quotes here!</a></h2>
    </div>
